*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
Logo[[:space:]]final.png filter=lfs diff=lfs merge=lfs -text
images[[:space:]]/[[:space:]]Logo[[:space:]]final.png filter=lfs diff=lfs merge=lfs -text
Capture[[:space:]]d'écran[[:space:]]2025-08-09[[:space:]]090137.png filter=lfs diff=lfs merge=lfs -text
Logo[[:space:]]SCIC.png filter=lfs diff=lfs merge=lfs -text
logo2.png filter=lfs diff=lfs merge=lfs -text
assets[[:space:]]/[[:space:]]Logo[[:space:]]SCIC.png filter=lfs diff=lfs merge=lfs -text
assets[[:space:]]/[[:space:]]logo[[:space:]]final.png filter=lfs diff=lfs merge=lfs -text
assets[[:space:]]/[[:space:]]logo2.png filter=lfs diff=lfs merge=lfs -text
assets[[:space:]]/[[:space:]]capture[[:space:]]d'écran[[:space:]]2025-08-09[[:space:]]090137.png filter=lfs diff=lfs merge=lfs -text
assets[[:space:]]/[[:space:]]logo[[:space:]]SCIC.png filter=lfs diff=lfs merge=lfs -text
assets[[:space:]]/[[:space:]]apercu filter=lfs diff=lfs merge=lfs -text
assets[[:space:]]/[[:space:]]logoscic.png filter=lfs diff=lfs merge=lfs -text
assets[[:space:]]/[[:space:]]logofinal.png filter=lfs diff=lfs merge=lfs -text
assets[[:space:]]/Logo[[:space:]]final.png filter=lfs diff=lfs merge=lfs -text
assets[[:space:]]/og-1200x630.jpg filter=lfs diff=lfs merge=lfs -text
images/Logo[[:space:]]SCIC.png filter=lfs diff=lfs merge=lfs -text
images/logoscic.png filter=lfs diff=lfs merge=lfs -text
images/Capture[[:space:]]d'écran[[:space:]]2025-08-09[[:space:]]090137.png filter=lfs diff=lfs merge=lfs -text
images/Logo[[:space:]]final.png filter=lfs diff=lfs merge=lfs -text
images/logo2.png filter=lfs diff=lfs merge=lfs -text
images/Futur.png filter=lfs diff=lfs merge=lfs -text
images/Généalogie.png filter=lfs diff=lfs merge=lfs -text
images/L'étoile.png filter=lfs diff=lfs merge=lfs -text
images/L'océan.png filter=lfs diff=lfs merge=lfs -text
images/Mémoire[[:space:]]cellulaire.png filter=lfs diff=lfs merge=lfs -text
images/Mémoire[[:space:]]collective.png filter=lfs diff=lfs merge=lfs -text
images/Passé.png filter=lfs diff=lfs merge=lfs -text
images/Présent.png filter=lfs diff=lfs merge=lfs -text
images/Terre.png filter=lfs diff=lfs merge=lfs -text
images/Tore.png filter=lfs diff=lfs merge=lfs -text
images/Etoile.png filter=lfs diff=lfs merge=lfs -text
images/Genealogie.png filter=lfs diff=lfs merge=lfs -text
images/Memoire-cellulaire.png filter=lfs diff=lfs merge=lfs -text
images/Memoire-collective.png filter=lfs diff=lfs merge=lfs -text
images/Ocean.png filter=lfs diff=lfs merge=lfs -text
images/Passe.png filter=lfs diff=lfs merge=lfs -text
images/Present.png filter=lfs diff=lfs merge=lfs -text
images/Gemini_Generated_Image_ipbhpoipbhpoipbh.png filter=lfs diff=lfs merge=lfs -text
