@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Cinzel+Decorative:wght@400;700&display=swap');

body {
	padding: 2rem;
	font-family: -apple-system, BlinkMacSystemFont, "Arial", sans-serif;
}

h1 {
	font-size: 16px;
	margin-top: 0;
}

p {
	color: rgb(107, 114, 128);
	font-size: 15px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.card {
	max-width: 620px;
	margin: 0 auto;
	padding: 16px;
	border: 1px solid lightgray;
	border-radius: 16px;
}

.card p:last-child {
	margin-bottom: 0;
}
.hero-title {
    font-family: "Cinzel", serif;
    font-size: 105px;
    font-weight: 700;
    color: #D4AF37; /* oradia gold */
    text-align: center;
    letter-spacing: 2px;
    margin: 0;
}

.hero-subtitle {
    font-family: "Cinzel Decorative", serif;
    font-size: 50px;
    font-weight: 400;
    color: #D4AF37;
    text-align: center;
    margin-top: 15px;
}
background-size: cover;
background-position: center;
image-rendering: auto;
